<div class="container">
  <h1>Actors:</h1>
  <div class="container">
    <table class="table table-hover">
      <tbody>
        <% @actors.each do |actor| %>
        <tr>
          <td onClick="actor('<%= actor.name.humanize %>')">
            <%= actor.name.humanize %>
          </td>
        </tr>
        <%end%>
      </tbody>
    </table>
  </div>
</div>

<div class="container">
  <h1>Movies:</h1>
  <div class="container">
    <table class="table table-hover">
      <tbody>
        <% @movies.each do |movie| %>
        <tr>
          <td onClick="movie('<%= movie.title.humanize %>')">
            <%= movie.title.humanize %>
          </td>
        </tr>
        <%end%>
      </tbody>
    </table>
  </div>
</div>
